{% extends "auctions/layout.html" %}

{% block body %}
    <h2><span class="badge text-bg-secondary">Active Listings</span></h2>
    <div class="row row-cols-1 row-cols-md-1 g-7">
        {% for listing in Listings %}
        <div class="col">
            <div class="card border-secondary w-100 text-center mb-3">
                <img src="{{listing.image_url}}" class="card-img-top" alt="{{listing.title}}" style="object-fit: cover; height: 400px; width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{listing.title}}</h5>
                    <p class="card-text">{{listing.description}}</p>
                    <p class="card-text"><b>Starting Bid: {{listing.starting_bid}} DH</b></p>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Posted on {{listing.listing_date}}</small>
                </div>
            </div>
        </div>
        {% empty %}
            <p class="text-center">Your watchlist is currently empty.</p>
        {% endfor %}
    </div>
{% endblock %}
